@import url('../node_modules/normalize.css/normalize.css');



body {
  color: cornsilk;
  background: #333;
  font-family: Raleway;
  margin: 0 auto;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}


/* **************************************
                Navbar
 ************************************** */

 .menu-wrapper {
  overflow: hidden;
}

.menu-wrapper a{
  float: left;
  display: block;
  color: cornsilk;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu-wrapper a:not(:first-child):hover {
  background: cornsilk;
  color: #333;
}

.menu-wrapper #menu-btn {
  display: none;
}

@media (max-width: 600px) {

  /* hide links / reveal menu icon */
  .menu-wrapper a:not(:first-child) {
    display: none;
  }

  .menu-wrapper a#menu-btn {
    float: right;
    display: block;
  }

  /* responsive behavior */
  .menu-wrapper.responsive {
    position: relative ;
  }

  .menu-wrapper.responsive a#menu-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu-wrapper.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}

/* ****************************************
              Hero Section
**************************************** */


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 650px;
  background: url(assets/nathan-dumlao-451103-unsplash.jpg);
  background-size: 100vw;
  background-repeat: none;
  background-position: center;
  font-size: 1.7rem;
}

@media (max-width: 800px) {
  .hero {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .hero {
    font-size: 1.2rem;
  }
}

.hero h1 {
  padding: 40px;
  text-align: center;
}

#features {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: center;
  
}

#features div {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  margin-left: 14px;
  margin-right: 14px;
  padding: 60px 14px 5px 14px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 600px) {
  #features {
    flex-direction: column;
    align-items: center;
  }

  #features div {
    width: 81%;
    margin: 20px 0;
  }
}

#features i {
  font-size: 200%;
  display: flex;
  justify-content: center;
}


#features div:hover {
  box-shadow: 0 28px 38px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 45px 59px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#features div h2 {
  margin-top: 6px;
  margin-bottom: 8px;
}

#features div p {
  margin-top: 0;
}

#video {
  width: auto;
  height: auto;
}

#examples {
  background: cornsilk;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: #333;
  padding-left: 30px;
  padding-right: 30px;
  list-style-type: none;
}

#examples h2 {
  font-weight: 600;
  font-size: 2rem;
}

@media (max-width: 600px) {
  #examples {
    flex-direction: column;
    margin-top: 40px;
  }
}



#pricing {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: space-evenly;
}

#pricing>div {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 14px;
  margin-right: 14px;
  padding: 60px 14px 5px 14px;
  border: 1.2px cornsilk solid;
}

#pricing>div:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: none;
}

#form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background: cornsilk;
  color: #333;
  line-height: 1.7;
}

footer div:nth-child(4) {
  display: flex;
  justify-content: center;
}

footer div a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin-left: 40px;
  padding: 5px 10px;
}

footer div a:hover {
  background-color: #333;
  color: cornsilk;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}